@import "tailwindcss";

@layer base {
  progress::-webkit-progress-bar {
    @apply bg-gray-300 rounded-full
 overflow-hidden;
  }

  progress::-webkit-progress-value {
    @apply bg-orange-400 rounded-full
 overflow-hidden;
  } 

  progress::-moz-progress-bar {
    @apply bg-gray-300 rounded-full
 overflow-hidden;
  }
  
}

.wc {
  background-image: url("./assets/chris-appano-F59muNgxqlg-unsplash.jpg");
  background-size: cover;
}

.question-bg {
  background-image: url("../src/assets/shridhar-thorat-6AKLKt-KmdY-unsplash.jpg");
  background-size: cover;
}